
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins' , sans-serif;
  box-sizing: border-box;
}
:root{
  --body-color: #efefef;
  --nav-color: #1876f2;
  --bg-colors: #fff;

}
.dark-theme{
 --body-color: #252525;
  --nav-color: #000;
  --bg-colors: #161616;

}
